<%- include('includes/header'); %>
<%- include('includes/nav'); %> 


<div class="container mt-5">
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <h1 class="text-center">Crie sua conta ou realize seu login</h1>
      <p class="text-center lead">Faça login ou crie sua conta abaixo!</p>
      
      <%- include('includes/messages'); %>

      <div class="row">
        <div class="col-lg">
          <h4 class="">Faça seu cadastro!</h4>
          <p class="text-muted">Se você ainda não tem conta, preencha os campos abaixo!</p>

          <form action="/login/register" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="form-group">
              <label >Insira seu email:</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <label >Insira sua senha:</label>
              <input type="password" class="form-control" name="password">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
          </form>
        </div>


        <div class="col-lg">
          <h4 class="">Faça seu login</h4>
          <p>Se você já tem uma conta, faça login abaixo!</p>
          <form class="form-login" action="/login/login" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="form-group">
              <label>Seu e-mail</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <label>Sua senha</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
          </form>
        </div>
      </div>
    </div>


    <div class="col-lg-2">

    </div>
  </div>
</div>
   

<%- include('includes/footer') %>